<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\xiaojun\AppData\Local\Temp\libhello.dll6204885768331806527" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>