<application>
  <component name="MyBatisCodeHelper">
    <option name="profile">
      <Profile>
        <option name="tempFilePath" value="C:\Users\xiaojun\AppData\Local\Temp\libhello.dll18261397662420947735" />
        <option name="valid" value="true" />
      </Profile>
    </option>
  </component>
</application>